body {
  margin: 20px;
}

.title {
  text-align: center;
  color: #323b5b;
  margin-bottom: 1.75rem;
}

.banner {
  text-align: center;
  font-size: 10px;
  background-color: #fd7034;
  padding: 1.2rem;
  color: #323b5b;
}

.banner > img {
  max-block-size: 450px;
}

.card {
  /* Add shadows to create the "card" effect */
  max-height: 400px;
  min-height: 250px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.75rem;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .card-content {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  max-height: 200px;
  object-fit: contain;
  text-align: center;
}

.post__container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}

.card > a {
  text-decoration: none;
  color: inherit;
}

.image > img {
  max-height: 15rem;
  margin: auto;
  object-fit: cover;
}

.image > a > img {
  max-height: 15rem;
  margin: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(27, 128, 211);
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: rgb(16, 196, 166);
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(16, 196, 166);
}
